# Governance
/.github/        @OpenProblemHub/core-maintainers
/governance/     @OpenProblemHub/core-maintainers
/LICENSE         @OpenProblemHub/core-maintainers
/README.md       @OpenProblemHub/core-maintainers

# Problems
*                @OpenProblemHub/reviewers
